tools/templates/n8n/Nvdia_10K.json
{
  "name": "Nvdia 10K",
  "nodes": [
    {
      "parameters": {},
      "id": "c2534309-82fd-458f-8b4e-fcb13227cc26",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "14WB0Wu_lP2PQxhzaIgYJKLy8YRTycOto",
          "mode": "id"
        },
        "options": {}
      },
      "id": "86d6628a-6bc3-42e9-92f5-4b8c8d76cba4",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        680,
        240
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1tsDIpjUaKbXy0be",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "loader": "pdfLoader",
        "options": {}
      },
      "id": "1aace182-7569-4ff6-ab11-20c19b4849a5",
      "name": "Binary to Document",
      "type": "@n8n/n8n-nodes-langchain.documentBinaryInputLoader",
      "position": [
        960,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200
      },
      "id": "daf700ad-37d5-47d9-839c-8ef02bcf26f1",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        960,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "12983303-335e-4892-834c-79d119f21851",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1260,
        460
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "fOF5kro9BJ6KMQ7n",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "=mistralai/Mixtral-8x7B-Instruct-v0.1",
        "options": {
          "baseURL": "https://api.together.xyz"
        }
      },
      "id": "e2f1764e-ca39-46aa-954d-bee22378f18c",
      "name": "Chat OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1900,
        480
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "fAUcJw8FKJmmrRrl",
          "name": "Together"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0f0617a4-c7fa-4ae3-bdd4-ab22bf51a4b4",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1980,
        860
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "fOF5kro9BJ6KMQ7n",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "22e7c16b-e62a-4db4-9fec-af82113cdd53",
      "name": "On new manual Chat Message",
      "type": "@n8n/n8n-nodes-langchain.manualChatTrigger",
      "position": [
        1620,
        240
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "### Fetch file from Google Drive, split it into chunks and insert into Pinecone index",
        "height": 226.00539083557965,
        "width": 770.0416995758376
      },
      "id": "74b3cbc8-7ffb-4e7b-810b-550235c91198",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        660,
        179.99999999999994
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Embed the incoming chat message and use it retrieve relevant chunks from the vector store. These are passed to LM to formulate an answer ",
        "height": 224.80862533692715,
        "width": 654.1028019808174
      },
      "id": "def7ce1e-fd37-441b-b9bc-648f950618c4",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1560,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "query": "={{ $json.body.input }}"
      },
      "id": "4219c858-c940-4fa3-a950-90320e22fc5f",
      "name": "Retrieval QA Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "position": [
        1880,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "d6fad512-6652-42f0-8dff-ee88d813e885",
      "name": "Supabase Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1960,
        700
      ],
      "credentials": {
        "supabaseApi": {
          "id": "bL2G25ynOo37x1e6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d707d430-f73a-4378-a6da-b7427c704cf9",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "43f57717-cf82-4e12-bc30-d2e35d776ef6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1620,
        460
      ],
      "webhookId": "8303debe-ea3b-4816-9eb2-eb02874ec5df"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "6f49ff65-84b3-4c01-9abf-b68e7ad29e86",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1040,
        240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "bL2G25ynOo37x1e6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.response.text }}",
        "options": {}
      },
      "id": "24b978aa-fd38-4206-afe5-411ea5684624",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2260,
        240
      ]
    },
    {
      "parameters": {
        "topK": 5
      },
      "id": "f0ddd9c1-76b3-42ad-a5ed-4316fc7bead4",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        2020,
        480
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Chat OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieval QA Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On new manual Chat Message": {
      "main": [
        [
          {
            "node": "Retrieval QA Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Binary to Document",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary to Document": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Retrieval QA Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Retrieval QA Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Retrieval QA Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "8401d92b-165d-446d-b39b-0c38f03a1572",
  "meta": {
    "templateId": "1960",
    "templateCredsSetupCompleted": true,
    "instanceId": "2723a3a635131edfcb16103f3d4dbaadf3658e386b4762989cbf49528dccbdbd"
  },
  "id": "pfD3HzUVHZu9fodL",
  "tags": []
}